body *{
  font-family: Neue Machina;
}
.mint_btn:hover{
   background-color: #bb931c !important;
}
.counter_control img{
    width: 40px;
}
.counter_control:hover{
    opacity: 0.8;
    cursor: pointer;
}
.menu-items .active button{
    background-color:rgba(255, 255, 255, 0.08);
}
.processing-lock{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:rgba(0,0,0,0.3);
    z-index: 4;
}
.processing-lock relative{
    position: relative;
    display: flex;
}
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
.spinner:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -50px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner 1.2s linear infinite;
}
